<div class="container">
  <div class="header">
    <h1>AWARDS & HONORS</h1>
  </div>
  <div class="details">
    <p>
      <mat-icon>grade</mat-icon>
      1. Performed as a featured soloist with the Iranshahr Orchestra in the
      Nowruz Concert at Royce Hall, UCLA (Los Angeles, USA, March 2025).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      2. Performed as a featured soloist with the Iranshahr Orchestra in the
      Nowruz Concert at Herbst Theatre (San Francisco, USA, March 2025).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      3. Performed as the Tar player and singer in the concert of the Middle
      Eastern Fusion Ensemble (Boston, USA, 2024).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      4. Performed as a member of the Middle Eastern Fusion Ensemble in the
      Middle Eastern Georgia Night concert at the Berklee Performance Center
      (Boston, USA, 2024).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      5. Featured in various interviews with Iranian television channels and
      newspapers.
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      6. Performed as the singer of the Nowruz program “Nobahar” on VOA Channel
      (Washington D.C., USA, 2024).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      7. Created a new arrangement of the Iranian piece “Montazerat Boodam” for
      the Al-Qantara Ensemble at the Berklee College of Music concert (Boston,
      USA, 2023).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      8. Achieved first place in the Art Competition of Iran (2016, Neishaboor).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      9. Achieved third place in the 17th Traditional Music Festival of Iran
      (2015).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      10. Achieved third place in the 18th Traditional Music Festival of Iran
      (2014).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      11. Achieved third place in the 16th Traditional Music Festival of Iran
      (2014).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      12. Awarded first place and the Star title in the 7th Youth Festival of
      Iran (2013).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      13. Achieved second place in the 15th Traditional Music Festival of Iran
      (2013).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      14. Achieved first place in the 14th Traditional Music Festival of Iran
      (2012).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      15. Received a Certificate of Appreciation from the Hamedan Education
      Organization and was entitled as the Kindness and Culture Ambassador of
      Iran (2016, Tehran, Islamic Republic of Iran Parliament).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      16. Received a Certificate of Appreciation from the Art and Culture
      Organization for participation in the “Sabaye Javani”program (2016,
      Hamedan, Avini Hall).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      17. Acclaimed by the Senior Manager of the Hamedan Education Organization
      as the Top Student (2016, Hamedan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      18. Received a Certificate of Appreciation from Hamedan Province
      Authorities as the Music Competition Winner (2016, Hamedan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      19. Recognized as a Top Participant in the Iranian Music Competition and
      received a Certificate of Appreciation (2016, Neishaboor).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      20. Received a Certificate of Appreciation from Dr. Shahrezaei, Manager of
      the Elite Organization (2016).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      21. Named the Best Tar Player in the Solo Competition (2016, Hamedan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      22. Received Certificates of Appreciation from Iranian music masters,
      including :
      <a href="https://en.wikipedia.org/wiki/Shahram_Nazeri">
        Shahram Nazeri
      </a>
      ,
      <a
        href="https://fa.wikipedia.org/wiki/%D8%B3%DB%8C%D8%AF_%D9%85%D8%AD%D9%85%D8%AF_%D9%85%D9%88%D8%B3%D9%88%DB%8C_(%D9%86%D9%88%D8%A7%D8%B2%D9%86%D8%AF%D9%87_%D9%86%DB%8C)"
      >
        Mohammad Moosavi
      </a>
      ,
      <a
        href="https://fa.wikipedia.org/wiki/%D8%B9%D9%84%DB%8C%E2%80%8C%D8%A7%DA%A9%D8%A8%D8%B1_%D8%B4%DA%A9%D8%A7%D8%B1%DA%86%DB%8C"
      >
        Aliakbar Shekarchi
      </a>
      ,
      <a
        href="https://fa.wikipedia.org/wiki/%D8%B1%D8%A7%D9%85%D8%A8%D8%AF_%D8%B5%D8%AF%DB%8C%D9%81"
      >
        Rambod Sodeyf
      </a>
      ,
      <a href="https://en.wikipedia.org/wiki/Hossein_Alizadeh">
        Hossein Alizadeh
      </a>
      ,
      <a href="https://en.wikipedia.org/wiki/Dariush_Talai"> Darush Talaei </a>
      ,
      <a href="https://en.wikipedia.org/wiki/Majid_Kiani"> Majid Kiani </a>
      , Ali Torabi ,
      <a
        href="https://fa.wikipedia.org/wiki/%D9%87%D9%88%D9%85%D8%A7%D9%86_%D8%A7%D8%B3%D8%B9%D8%AF%DB%8C"
      >
        Hooman Asadi.
      </a>
      , (2013,Tehran, Vahdat Hall)
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      23. Acclaimed by the National Organization for Development of Exceptional
      Talents. (2016)
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      24. Endorsed by
      <a href="https://en.wikipedia.org/wiki/Hossein_Alizadeh">
        Hossein Alizadeh
      </a>
      ,
      <a
        href="https://fa.wikipedia.org/wiki/%D9%87%D9%88%D9%85%D8%A7%D9%86_%D8%A7%D8%B3%D8%B9%D8%AF%DB%8C"
      >
        Dr. Hooman Asadi
      </a>
      and Ali Torabi Management members of Iranian music Association. (2016)
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      25. Member of Iran's National Elites Foundation (2015).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      26. Invited to numerous television and radio programs (since 2011).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      27. Advanced three academic grades between 2013 and 2015.
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      28. Recognized as the Top Student in the Artistic and Cultural Student
      Competition of Hamedan (2015, Hamedan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      29. Acclaimed by the Consulate of Iran in Almaty (2015, Almaty,
      Kazakhstan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      30. Performed concerts at various venues in Almaty, including the Music
      School, Art University, Farabi University, and the Science and Technology
      Academy (2015, Almaty, Kazakhstan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      31. Member of the “Shabrovan” music band at the Music Festival of
      Kazakhstan, and soloist at the Almaty Festival of Kazakhstan (2015,
      Almaty, Kazakhstan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      32. Acclaimed by the Artistic Creation Foundation of Niavaran (2015,
      Tehran).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      33. Performed as the soloist at the closing ceremony of the “Hezar Seda”
      event (2015, Tehran, Niavaran Palace).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      34. Acclaimed by the Education Organization of Hamedan as the Best Student
      (2015, Hamedan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      35. Performed as the soloist at the closing ceremony of the International
      Children's Theatre Festival (2014, Hamedan, Sina Hall).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      36. Member of the “Sisaz” Choir and Classical Band, performing in multiple
      concerts (2014, Tehran, Milad Tower).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      37. Acclaimed by the Mahak Charity Organization for philanthropic
      donations (2014, Tehran, Mahak Hospital).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      38. Performed in numerous charity concerts across different cities (since
      2012).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      39. Performed as a soloist at the House of Music event and acclaimed as a
      musical prodigy (2013, Tehran, Vahdat Hall).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      40. Acclaimed by the Cultural and Artistic Affairs Department of the
      Ministry of Culture and Art (2013, Tehran).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      41. Awarded Best Star of the Youth Music Festival (2013, Tehran, Vahdat
      Hall & Roudaki Hall).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      42. Performed as a soloist at the Glorification Event of Jalil Shahnaz and
      acclaimed by the Tehran Municipality (2013, Tehran, Arasbaran Cultural
      House).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      43. Performed as a soloist at the closing ceremony of the International
      Fajr Music Festival (2013, Tehran, Vahdat Hall).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      44. Performed as a soloist at the “Nasli Digar” event during the
      International Fajr Music Festival (2013, Tehran, Arasbaran Cultural
      House).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      45. Active member of humanitarian associations.
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      46. Acclaimed by the Iranian Music Association (2012, Tehran).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      47. Performed as a soloist at Red Crescent Society events and acclaimed by
      the organization (2012, Hamedan, Sina Hall).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      48. Participated in various scientific, cultural, and artistic
      competitions (since 2010).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      49. Acclaimed by Hamedan University of Medical Sciences for charitable
      activities (2012, Hamedan).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      50. Recognized as the Teenager of the Province (2011, Hamedan, Avicenna
      Tomb).
    </p>
    <p>
      <mat-icon>grade</mat-icon>
      51. Acclaimed by the Theatre and Cinema Forum of Iran (2011, Tehran, Shahr
      Hall).
    </p>
  </div>
</div>
