<div class="container">
    <div class="header">
        <h1>
            Awards & Honors
        </h1>
    </div>
    <div class="details">
        <p>
            <mat-icon>stars</mat-icon>
            1. Memorising more than 1300 verse Iranian poems from famous poets
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            2. Know more than 400 old traditional songs by heart
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            3. Various group and solo concerts in different cities of iran (since 2010)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            4. Acclaimed by theatre and cinema forum of iran (2011 tehran, shahr hall)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            5. The teenager of province (2011, hamedan, ave sina tomb)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            6. Acclaimed by hamedan university of medical science for charity activities (2012, hamedan )
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            7. Participation in different scientific, cultural and artistic competitions (since 2010)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            8. Soloist of red crescent society events and acclaimed by this society (2012, hamedan,  Sina hall)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            9. Acclaimed by Iranian music association (2012, Tehran)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            10. Member of humanitarian associations
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            11. Soloist of "nasli digar" event in the international fajr music festival (2013, Tehran, arasbaran cultural house)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            12. Soloist of closing ceremony of the international fajr music festival (2013, Tehran, vahdat hall)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            13. Soloist of glorification event of Jalil shahnaz and acclaimed by Tehran municipality (2013, Tehran, arasbaran cultural house)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            14. The best star of the youth music festival (2013, Tehran, vahdat hall & roodaki hall)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            15. Acclaimed by cultural and artistic affairs of culture and art ministry (2013, Tehran)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            16. Soloist of the house of music event and acclaimed as music prodigy (2013, Tehran, vahdat hall)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            17. Performing charity concerts in different cities (since 2012)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            18. Acclaimed by mahak charity organization for her donation (2014, Tehran, mahak hospital)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            19. Member of the "sisaz" chore and classic band and perform with this band (2014, Tehran, Milad Tower)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            20. Soloist of closing ceremony of the international children theatre festival (2014, hamedan, Sina hall)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            21. Acclaimed by education organization of hamedan as the best student (2015, hamedan)
        </p>
        <p>
            <mat-icon>stars</mat-icon>
            22. Soloist of closing ceremony of " Hezar seda " event (2015, Tehran, Niavaran palace )
        </p>
    </div>
</div>