<div class="container">
  <div class="header">
    <h1>Awards & Honors</h1>
  </div>
  <div class="details">
    <p>
      <mat-icon>stars</mat-icon>
      1. The concert of the middle eastern fusion Ensemble , the band's Tar
      player and singer (Boston, USA,2024)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      2. various interviews with media including iranian television and
      newspapers.
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      3. The singer of Nowruz program "Nobahar" on VOA channel (Washington D.C.,
      USA, 2024)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      4. Rearrangement of the Iranian piece "Montazerat Boodam" for the
      Al-Qantara ensemble at Berklee College of Music concert (Boston, USA,
      2023)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      5. the third rank in the 18th traditional music festival of Iran (2014)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      6. the first rank in the art competition of Iran (2016,Neishaboor)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      7. the third rank in the 17th traditional music festival of Iran (2015)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      8. the third rank in the 16th traditional music festival of Iran (2014)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      9. the first rank and the star in the 7th you th festival of Iran (2013)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      10. the second rank in the 15th traditional music festival of Iran (2013)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      11. the first rank in the 14th traditional music festival of Iran (2012)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      12. Certificate of appreciation from Hamedan education organization and
      entitled as kindness and culture ambassador of Iran ( 2016, Tehran,
      Islamic republic of Iran parliament )
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      13. Certificate of appreciation from the art and culture organization in
      the " Sabaye Javani " program (2016, Hamedan, Avini Hall)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      14. Acclaimed by the senior manager of Hamedan education organization as
      the top student. ( 2016, Hamedan)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      15. Certificate of appreciation from Hamedan province authorities as the
      music competition winner. (2016, Hamedan)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      16. Top participant of Iranian music competition and the certificate of
      appreciation (2016, Neishaboor)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      17. Certificate of appreciation from elite organization manager
      Dr.Shahrezaei (2016)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      18. The best Tar player of solo competition in hamedan (2016, Hamedan)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      19. Certificate of appreciation from Iranian music masters including :
      <a href="https://en.wikipedia.org/wiki/Shahram_Nazeri">
        Shahram Nazeri
      </a>
      ,
      <a
        href="https://fa.wikipedia.org/wiki/%D8%B3%DB%8C%D8%AF_%D9%85%D8%AD%D9%85%D8%AF_%D9%85%D9%88%D8%B3%D9%88%DB%8C_(%D9%86%D9%88%D8%A7%D8%B2%D9%86%D8%AF%D9%87_%D9%86%DB%8C)"
      >
        Mohammad Moosavi
      </a>
      ,
      <a
        href="https://fa.wikipedia.org/wiki/%D8%B9%D9%84%DB%8C%E2%80%8C%D8%A7%DA%A9%D8%A8%D8%B1_%D8%B4%DA%A9%D8%A7%D8%B1%DA%86%DB%8C"
      >
        Aliakbar Shekarchi
      </a>
      ,
      <a
        href="https://fa.wikipedia.org/wiki/%D8%B1%D8%A7%D9%85%D8%A8%D8%AF_%D8%B5%D8%AF%DB%8C%D9%81"
      >
        Rambod Sodeyf
      </a>
      ,
      <a href="https://en.wikipedia.org/wiki/Hossein_Alizadeh">
        Hossein Alizadeh
      </a>
      ,
      <a href="https://en.wikipedia.org/wiki/Dariush_Talai"> Darush Talaei </a>
      ,
      <a href="https://en.wikipedia.org/wiki/Majid_Kiani"> Majid Kiani </a>
      , Ali Torabi ,
      <a
        href="https://fa.wikipedia.org/wiki/%D9%87%D9%88%D9%85%D8%A7%D9%86_%D8%A7%D8%B3%D8%B9%D8%AF%DB%8C"
      >
        Hooman Asadi
      </a>
      , (2013,Tehran, Vahdat Hall)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      20. Acclaimed by the national organization for development of exceptional
      talents (2016)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      21. Confirmed by
      <a href="https://en.wikipedia.org/wiki/Hossein_Alizadeh">
        Hossein Alizadeh
      </a>
      ,
      <a
        href="https://fa.wikipedia.org/wiki/%D9%87%D9%88%D9%85%D8%A7%D9%86_%D8%A7%D8%B3%D8%B9%D8%AF%DB%8C"
      >
        Dr. Hooman Asadi
      </a>
      and Ali Torabi Management members of Iranian music association (2016)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      22. Member of Iran's national elites foundation (2015)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      23. Invited to some television and radio programs (since 2011)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      24. 3 year grade leaping in school between 2013 and 2015
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      25. Top student of the artistic and cultural student competition of
      Hamedan (2015, Hamedan)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      26. Acclaimed by consulate of Iran in Almati (2015, Almati, Kazakhstan)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      27. Performing concerts in Almati including music school, art university,
      Farabi university and science and technology academy (2015, Almati,
      Kazakhstan)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      28. Member of "Shabrovan" music band in music festival of Kazakhstan, and
      soloist of the Almati festival of Kazakhstan (2015, Almati, Kazakhstan)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      29. Acclaimed by artistic creation foundation of Niavaran (2015, Tehran)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      30. Soloist of closing ceremony of " Hezar seda " event (2015, Tehran,
      Niavaran palace )
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      31. Acclaimed by education organization of hamedan as the best student
      (2015, hamedan)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      32. Soloist of closing ceremony of the international children theatre
      festival (2014, Hamedan, Sina hall)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      33. Member of the "Sisaz" chore and classic band and perform with this
      band (2014, Tehran, Milad Tower)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      34. Acclaimed by Mahak charity organization for her donation (2014,
      Tehran, Mahak hospital)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      35. Performing charity concerts in different cities (since 2012)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      36. Soloist of the house of music event and acclaimed as music prodigy
      (2013, Tehran, Vahdat hall)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      37. Acclaimed by cultural and artistic affairs of culture and art ministry
      (2013, Tehran)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      38. The best star of the youth music festival (2013, Tehran, Vahdat hall &
      Roodaki hall)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      39. Soloist of glorification event of Jalil shahnaz and acclaimed by
      Tehran municipality (2013, Tehran, Arasbaran cultural house)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      40. Soloist of closing ceremony of the international fajr music festival
      (2013, Tehran, vahdat hall)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      41. Soloist of "Nasli Digar" event in the international fajr music
      festival (2013, Tehran, arasbaran cultural house)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      42. Member of humanitarian associations
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      43. Acclaimed by Iranian music association (2012, Tehran)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      44. Soloist of red crescent society events and acclaimed by this society
      (2012, Hamedan, Sina hall)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      45. Participation in different scientific, cultural and artistic
      competitions (since 2010)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      46. Acclaimed by Hamedan university of medical science for charity
      activities (2012, Hamedan )
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      47. The teenager of province (2011, Hamedan, ave sina tomb)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      48. Acclaimed by theatre and cinema forum of iran (2011 Tehran, shahr
      hall)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      49. Various group and solo concerts in different cities of Iran (since
      2010)
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      50. Know more than 400 old traditional songs by heart
    </p>
    <p>
      <mat-icon>stars</mat-icon>
      51. Memorising more than 1300 verse Iranian poems from famous poets
    </p>
  </div>
</div>
