@if (isHandset$ | async) {
    <div class="container">
        <div class="slide">
            @for (image of handsetSotoon1; track $index ;) {
                <img loading="lazy" [src]="image.source" style="width: 100%;">
        }
        </div>
        <div class="slide">
            @for (image of handsetSotoon2; track $index ;) {
                <img loading="lazy" [src]="image.source" style="width: 100%;">
        }
        </div>
    </div>
}

@else if (!(isHandset$ | async)) {
    <div class="container">
        <div class="slide">
            @for (image of sotoon1; track $index ;) {
                <img loading="lazy" [src]="image.source" style="width: 100%;">
        }
        </div>
        <div class="slide">
            @for (image of sotoon2; track $index ;) {
                <img loading="lazy" [src]="image.source" style="width: 100%;">
        }
        </div>
        <div class="slide">
            @for (image of sotoon3; track $index ;) {
                <img loading="lazy" [src]="image.source" style="width: 100%;">
        }
        </div>
        <div class="slide">
            @for (image of sotoon4; track $index ;) {
                <img loading="lazy" [src]="image.source" style="width: 100%;">
        }
        </div>
    </div>
}