@if (isHandset$ | async) {
<div class="wrapper-handset">
  <div class="details-handset">
    @if (isPlaying) {
    <div class="img-box rotating">
      <picture>
        <source
          type="image/avif"
          [srcset]="'./../../../assets/images/' + selectedItem.cover + '.avif'"
        />
      <img [src]="'./../../../assets/images/' + selectedItem.cover + '.jpg'">
      </picture>
    </div>
    } @else {
    <div class="img-box">
      <picture>
        <source
          type="image/avif"
          [srcset]="'./../../../assets/images/' + selectedItem.cover + '.avif'"
        />
      <img [src]="'./../../../assets/images/' + selectedItem.cover + '.jpg'">
      </picture>
    </div>
    }
    <div class="info">
      <div class="info-wrapper">
        <h2>{{ selectedItem.name }}</h2>
        @if (isSmall$ | async) {
        <div class="controler">
          <audio
            #audio
            [src]="'./../../../assets/songs/' + selectedItem.src"
            [autoplay]="isPlaying"
            controls
            (play)="onPlay()"
            (pause)="onPause()"
            controlsList="nodownload"
          ></audio>
        </div>
        }
      </div>
    </div>
  </div>
  @if (!(isSmall$ | async)) {
  <div class="controler">
    <audio
      #audio
      [src]="'./../../../assets/songs/' + selectedItem.src"
      [autoplay]="isPlaying"
      controls
      (play)="onPlay()"
      (pause)="onPause()"
      controlsList="nodownload"
    ></audio>
  </div>
  }
  <div style="width: 100%">
    <h1>Vocals</h1>
    <div class="table-container">
      <table mat-table [dataSource]="vocals" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          (click)="select(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
  <div style="width: 100%">
    <h1>Performances</h1>
    <div class="table-container">
      <table mat-table [dataSource]="performances" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          (click)="select(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
  <div style="width: 100%">
    <h1>Electronics</h1>
    <div class="table-container">
      <table mat-table [dataSource]="electrics" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          (click)="select(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>
} @else if (!(isHandset$ | async)) {
<div class="wrapper">
  <div class="details">
    @if (isPlaying) {
    <div class="img-box rotating">
      <picture>
        <source
          type="image/avif"
          [srcset]="'./../../../assets/images/' + selectedItem.cover + '.avif'"
        />
      <img [src]="'./../../../assets/images/' + selectedItem.cover + '.jpg'">
      </picture>
    </div>
    } @else {
    <div class="img-box">
      <picture>
        <source
          type="image/avif"
          [srcset]="'./../../../assets/images/' + selectedItem.cover + '.avif'"
        />
      <img [src]="'./../../../assets/images/' + selectedItem.cover + '.jpg'">
      </picture>
    </div>
    }
    <div class="info">
      <div class="info-wrapper">
        <h2>{{ selectedItem.name }}</h2>
        <audio
          #audio
          class="controler"
          [src]="'./../../../assets/songs/' + selectedItem.src"
          type="audio/m4a"
          controls
          (play)="onPlay()"
          (pause)="onPause()"
          [autoplay]="isPlaying"
          controlsList="nodownload"
        ></audio>
      </div>
    </div>
  </div>
  <div class="table">
    <h1>Performances</h1>
    <div class="table-container">
      <table mat-table [dataSource]="performances" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          (click)="select(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
  <div class="table">
    <h1>Vocals</h1>
    <div class="table-container">
      <table mat-table [dataSource]="vocals" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          (click)="select(row)"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
  <div class="electronics">
    <h1>Electronics</h1>
    <div class="table-container">
      <table mat-table [dataSource]="electrics" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="album">
          <th mat-header-cell *matHeaderCellDef>Album</th>
          <td mat-cell *matCellDef="let element">{{ element.album }}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef>Duration</th>
          <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="electricDisplayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          (click)="select(row)"
          *matRowDef="let row; columns: electricDisplayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>
}
