.wrapper {
  width: 75%;
  padding: 25px 35px;
  text-align: center;
  background-color: #151618;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.wrapper-handset {
  width: 90%;
  padding: 30px 10px;
  text-align: center;
  background-color: #151618;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.details {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
}

.img-box {
  display: flex;
  aspect-ratio: 1/1;
  height: 10rem;
  margin-right: 1rem;
}

.img-box img {
  object-fit: cover;
  flex: 1 0 100%;
  border-radius: 50%;
}

.info {
  width: 100%;
}

.controler {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.table {
  width: 48%;
  margin: 0 1%;
  background-color:rgba(26, 27, 31, 0.4);
  border-radius:15px ;
}

.vocals {
  width: 98%;
  margin: 32px 1%;
  background-color:rgba(26, 27, 31, 0.4);
  border-radius:15px ;
}

.table-container{
  height: 264px;
  overflow:auto;
  scrollbar-color: #5d606d rgba(0, 0, 0, 0.05);
}

audio {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

h2,
h3,
h4 {
  text-align: left;
}

h1 {
  text-align: center;
}

.hidden {
  display: none;
}

@media screen and (max-width: 440px) {
  .wrapper-handset {
    width: fit-content;
  }
  .img-box {
    height: 6rem;
  }
}

@media screen and (max-width: 500px) {
  .controler {
    display: none;
  }
  .hidden {
    display: block;
  }
  .details {
    align-items: center;
  }
}
