.wrapper {
  width: 75%;
  padding: 25px 35px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.wrapper-handset {
  width: 90%;
  padding: 30px 10px;
  text-align: center;
  background-color: #151618;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.details {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  padding: 25px 35px;
  border-radius: 15px;
  background-color: rgba(26, 27, 31, 0.8);
}

.details-handset {
  margin-bottom: 1rem;
  width: 100%;
  max-width: 100%;
  display: flex;
}

.img-box {
  display: flex;
  aspect-ratio: 1/1;
  height: 10rem;
  margin-right: 1rem;
}

.img-box img {
  object-fit: cover;
  height: 100%;
  flex: 1 0 100%;
  border-radius: 50%;
}

.img-box source {
  object-fit: cover;
  height: 100%;
  flex: 1 0 100%;
  border-radius: 50%;
}

.rotating {
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.img-box-rotating img {
  object-fit: cover;
  flex: 1 0 100%;
  border-radius: 50%;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
}

.info-wrapper{
  width: 100%;
}

.controler {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.table {
  width: 48%;
  margin: 0 1%;
  background-color: rgba(26, 27, 31, 0.4);
  border-radius: 15px;
}

.electronics {
  width: 98%;
  margin: 32px 1%;
  background-color: rgba(26, 27, 31, 0.4);
  border-radius: 15px;
}

.table-container {
  height: 264px;
  overflow: auto;
  scrollbar-color: #5d606d rgba(0, 0, 0, 0.05);
}

audio {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

h2,
h3,
h4 {
  text-align: left;
}

h1 {
  text-align: center;
}


@media screen and (max-width: 600px) {
  .details {
    align-items: center;
  }
    .wrapper-handset {
    width: 90%;
  }
  .img-box {
    height: 6rem;
  }
}
