<audio #audio [src]="selectedItem.src" controls></audio>

@if (isHandset$ | async) {
<div class="wrapper-handset">
  <div class="details">
    @if (isPlaying) {
    <div class="img-box rotation">
      <img
        src="./../../../assets/HD-wallpaper-fractal-serie-a-1-abstract-ink-swirl-flower-illusion-phone-flowers-fantasy-optical-water.jpg"
      />
    </div>
    } @else if (!isPlaying) {
    <div class="img-box">
      <img
        src="./../../../assets/HD-wallpaper-fractal-serie-a-1-abstract-ink-swirl-flower-illusion-phone-flowers-fantasy-optical-water.jpg"
      />
    </div>
    }
    <div class="info">
      <h2>{{ selectedItem.name }}</h2>
    </div>
  </div>
  <div class="controler">
    <button (click)="prev()" class="icon" mat-fab>
      <mat-icon>fast_rewind</mat-icon>
    </button>
    @if (!isPlaying) {
    <button (click)="play()" class="icon" mat-fab>
      <mat-icon>play_arrow</mat-icon>
    </button>
    } @else if (isPlaying) {
    <button (click)="pause()" class="icon" mat-fab>
      <mat-icon>pause</mat-icon>
    </button>
    }
    <button (click)="next()" class="icon mirror" mat-fab>
      <mat-icon>fast_rewind</mat-icon>
    </button>
    @if (sliderValue != 0) {
    <button (click)="mute()" class="icon" mat-fab>
      <mat-icon>volume_up</mat-icon>
    </button>
    } @else if (sliderValue == 0) {
    <button class="icon" mat-fab>
      <mat-icon>volume_off</mat-icon>
    </button>
    }
    <mat-slider style="width: 60px;">
      <input matSliderThumb [(ngModel)]="sliderValue" />
    </mat-slider>
  </div>
  <div style="width: 100%">
    <h1>vocals</h1>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="select(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
  <div style="width: 100%">
    <h1>performances</h1>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="select(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
} @else if (!(isHandset$ | async)) {
<div class="wrapper">
  <div class="details">
    @if (isPlaying) {
    <div class="img-box rotation">
      <img
        src="./../../../assets/HD-wallpaper-fractal-serie-a-1-abstract-ink-swirl-flower-illusion-phone-flowers-fantasy-optical-water.jpg"
      />
    </div>
    } @else if (!isPlaying) {
    <div class="img-box">
      <img
        src="./../../../assets/HD-wallpaper-fractal-serie-a-1-abstract-ink-swirl-flower-illusion-phone-flowers-fantasy-optical-water.jpg"
      />
    </div>
    }
    <div class="info">
      <h2>{{ selectedItem.name }}</h2>
      <div class="controler">
        <button (click)="prev()" class="icon" mat-fab>
          <mat-icon>fast_rewind</mat-icon>
        </button>
        @if (!isPlaying) {
        <button (click)="play()" class="icon" mat-fab>
          <mat-icon>play_arrow</mat-icon>
        </button>
        } @else if (isPlaying) {
        <button (click)="pause()" class="icon" mat-fab>
          <mat-icon>pause</mat-icon>
        </button>
        }
        <button (click)="next()" class="icon mirror" mat-fab>
          <mat-icon>fast_rewind</mat-icon>
        </button>
        @if (sliderValue != 0) {
        <button (click)="mute()" class="icon" mat-fab>
          <mat-icon>volume_up</mat-icon>
        </button>
        } @else if (sliderValue == 0) {
        <button class="icon" mat-fab>
          <mat-icon>volume_off</mat-icon>
        </button>
        }
        <mat-slider style="width: 60px;">
          <input matSliderThumb [(ngModel)]="sliderValue" />
        </mat-slider>
      </div>
    </div>
  </div>
  <div class="table">
    <h1>vocals</h1>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef>Album</th>
        <td mat-cell *matCellDef="let element">{{ element.album }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="select(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
  <div class="table">
    <h1>performances</h1>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef>Album</th>
        <td mat-cell *matCellDef="let element">{{ element.album }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        (click)="select(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
  </div>
</div>
}
