<div class="container">
  <div class="header">
    <h1>BIOGRAPHY</h1>
  </div>
  <div class="details">
    <mat-card class="card">
      <mat-card-content>
        <p>Tara Pirayandeh was born on September 21, 2002, in Isfahan, Iran</p>
        <p>
          Tara Pirayandeh has been engaged in art, music, and literature from an
          early age. At just five, she began her musical journey and quickly
          mastered the "Tombak". Influenced by prominent artists like
          <a href="https://en.wikipedia.org/wiki/Jalil_Shahnaz">
            Jalil Shahnaz
          </a>
          ,
          <a href="https://en.wikipedia.org/wiki/Mohammad-Reza_Lotfi">
            Mohammadreza Lotfi
          </a>
          ,
          <a href="https://fa.wikipedia.org/wiki/هوشنگ_کامکار">
            Hooshang Kamkar
          </a>
          and
          <a href="https://fa.wikipedia.org/wiki/پشنگ_کامکار">
            Pashang Kamkar
          </a>
          , she transitioned to the "Tar" in 2011.
        </p>
        <p>
          Her studies in this traditional Persian instrument have been guided by
          renowned mentors including
          <a href="https://en.wikipedia.org/wiki/Hossein_Alizadeh">
            Hossein Alizadeh
          </a>
          . Tara’s extensive training includes workshops with celebrated
          musicians such as
          <a href="https://fa.wikipedia.org/wiki/بهمن_رجبی"> Bahman Rajabi </a>
          ,
          <a href="https://fa.wikipedia.org/wiki/شهرام_میرجلالی">
            Shahram Miljalali
          </a>
          , Ali Jahandar , Ali Asghar Shahzaidi and Amir Eslami. She has
          performed at numerous festivals and concerts both in Iran and
          internationally, showcasing her exceptional talent.
        </p>
        <p>
          A prodigy with an extraordinary intellect, Tara accelerated her
          education, graduating from high school at the age of 13. As a member
          of Iran's National Elites Foundation, she has actively participated in
          charitable endeavors, including supporting children with cancer and
          donating her awards to this cause. Her commitment extends to charity
          concerts across various Iranian cities
        </p>
        <p>
          At 17, Tara earned her bachelor’s degree in Computer Science and
          subsequently received a scholarship to study at Berklee College of
          Music in Boston, Massachusetts. There, she is pursuing degrees in Film
          Scoring and Electronic Music Production and Design. Her notable
          performances include a Norouz celebration in Washington, D.C., for VOA
          channel
        </p>
        <p>
          Tara Pirayandeh is dedicated to expanding the reach of Persian and
          traditional music globally, aiming to introduce and enrich audiences
          with the cultural heritage of her homeland through her innovative
          work.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
