<div class="container">
    <div class="header">
        <h1> BIOGRAPHY </h1>
    </div>
    <div class="details">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
                    from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
                    originally bred for hunting
                </mat-card-subtitle>
                <img mat-card-md-image>
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content> 
            </mat-card-content>
          </mat-card>
    </div>
</div>