<div class="container">
  <div class="wrapper">
    @if (isHandset$ | async) {
    <div class="handset-ratio first-slide"></div>
    <div class="handset-ratio second-slide"></div>
    <div class="handset-ratio third-slide"></div>
    } @else if (!(isHandset$ | async)) {
    <div class="first-slide"></div>
    <div class="second-slide"></div>
    <div class="third-slide"></div>
    }
  </div>
  <section class="subject">
    <h1>Biography</h1>
    @if (!(isHandset$ | async)) {
    <div class="subject-details">
      <mat-accordion>
        <mat-expansion-panel
          expanded="true"
          (opened)="panelOpenState.set(true)"
          (closed)="panelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> ABOUT TARA PIRAYANDEH </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-icon class="icon">description</mat-icon>
            Tara Pirayandeh, born on September 21, 2002, in Isfahan, Iran, is a
            prodigious musician and scholar. Starting her musical journey at age
            of 5.
          </p>
          <p>
            <mat-icon class="icon">description</mat-icon>
            She quickly mastered the Tombak and then the Tar , studying
            under the supervision of professors such as
            <a href="https://en.wikipedia.org/wiki/Hossein_Alizadeh">
              Hossein Alizadeh</a
            >
            and
            <a
              href="https://fa.wikipedia.org/wiki/%D8%B4%D9%87%D8%B1%D8%A7%D9%85_%D9%85%DB%8C%D8%B1%D8%AC%D9%84%D8%A7%D9%84%DB%8C"
            >
              Shahram Mirjalali</a
            >.
          </p>
          <p>
            <mat-icon class="icon">description</mat-icon>
            Tara graduated from highschool at the age of 13. She is a member of
            Iran's National Elites Foundation and has been active in charitable
            causes, including supporting children with cancer.
          </p>
          <p>
            <mat-icon class="icon">description</mat-icon>
            She earned a bachelor's degree in Computer Science at 17. She is
            currently studying Film Scoring with a minor in conducting at Berklee
            College of Music.
          </p>
          <p>
            <mat-icon class="icon">description</mat-icon>
            Tara continues to bridge Persian and traditional music with global
            audiences through her innovative work.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState.set(true)"
          (closed)="panelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> EDUCATION </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-icon class="icon">school</mat-icon>
            <strong>Berklee college of music :</strong> Summer (2023) - present
          </p>
          <p>
            <mat-icon class="icon">school</mat-icon>
            <strong>University of Applied Science Culture and Art</strong>
            - 2017
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    } @else if ((isHandset$ | async)) {
    <div class="subject-details-handset">
      <mat-accordion>
        <mat-expansion-panel
          expanded="true"
          (opened)="panelOpenState.set(true)"
          (closed)="panelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> ABOUT TARA PIRAYANDEH </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-icon class="icon">description</mat-icon>
            Tara Pirayandeh, born on September 21, 2002, in Isfahan, Iran, is a
            prodigious musician and scholar. Starting her musical journey at age
            of 5.
          </p>
          <p>
            <mat-icon class="icon">description</mat-icon>
            She quickly mastered the Tombak and then the Tar , studying
            under the supervision of professors such as
            <a href="https://en.wikipedia.org/wiki/Hossein_Alizadeh">
              Hossein Alizadeh</a
            >
            and
            <a
              href="https://fa.wikipedia.org/wiki/%D8%B4%D9%87%D8%B1%D8%A7%D9%85_%D9%85%DB%8C%D8%B1%D8%AC%D9%84%D8%A7%D9%84%DB%8C"
            >
              Shahram Mirjalali</a
            >.
          </p>
          <p>
            <mat-icon class="icon">description</mat-icon>
            Tara graduated from highschool at the age of 13. She is a member of
            Iran's National Elites Foundation and has been active in charitable
            causes, including supporting children with cancer.
          </p>
          <p>
            <mat-icon class="icon">description</mat-icon>
            She earned a bachelor's degree in Computer Science at 17. She is
            currently studying Film Scoring with a minor in conducting at Berklee
            College of Music.
          </p>
          <p>
            <mat-icon class="icon">description</mat-icon>
            Tara continues to bridge Persian and traditional music with global
            audiences through her innovative work.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState.set(true)"
          (closed)="panelOpenState.set(false)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> EDUCATION </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <mat-icon class="icon">school</mat-icon>
            <strong>Berklee college of music :</strong> Summer (2023) - present
          </p>
          <p>
            <mat-icon class="icon">school</mat-icon>
            <strong
              >University of Applied Science Culture and Art (Unit 1) Associate
              Disgreg of Music</strong
            >
            - 2017
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    }
    <a href="/biography">
      <button mat-button>Full Biography</button>
    </a>
    <a href="/awards">
      <button mat-button>Awards and Honors</button>
    </a>
  </section>
  @if (!(isHandset$ | async)) {
  <section class="subject">
    <h1>Re-Scores</h1>
    <div class="re-score-details">
      <app-re-score />
    </div>
  </section>

  } @else if (isHandset$ | async) {
  <section class="subject">
    <h1>Re-Scores</h1>
    <div class="subject-details-handset">
      <app-re-score />
    </div>
  </section>
  }

  <h1 style="text-align: center;"> Musics </h1>
  <app-music-player />
  <section class="subject">
    @if (isHandset$ | async) {
    <h1>Awards</h1>
    <div class="subject-details-handset">
      <mat-card appearance="raised">
        <mat-card-content>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Performed as a featured soloist with the Iranshahr Orchestra in the
            Nowruz Concert at Royce Hall, UCLA, and at Herbst Theatre, San
            Francisco (March 2025).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Concert with the Middle Eastern Fusion Ensemble – Tar player and
            singer at Berklee College of Music (Boston, USA, 2024).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Singer of the Nowruz Program “Nobahar” – Performed live on VOA
            Channel (Voice of America) (Washington D.C., USA, 2024).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Rearranged the iconic Iranian piece “Montazerat Boodam” – For
            Al-Qantara Ensemble at Berklee College of Music concert (Boston,
            USA, 2023).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            First Place & Star Performer – Awarded Top Star in the 7th National
            Youth Music Festival of Iran (2013).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            International Recognition – Soloist at the Closing Ceremony of the
            International Fajr Music Festival (Tehran, Vahdat Hall, 2013).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Charitable Contributions Through Music – Donated competition
            winnings to Mahak Charity Organization for children with cancer and
            performed numerous charity concerts across Iran (since 2012).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Cultural Ambassador Award – Honored as Kindness and Culture
            Ambassador of Iran by the Parliament and Hamedan Education
            Organization (Tehran, 2016).
          </p>
          <a href="/awards">
            <button mat-button>Get More...</button>
          </a>
        </mat-card-content>
      </mat-card>
    </div>
    } @if (!(isHandset$ | async)) {
    <h1>Awards and Honors</h1>
    <div class="subject-details">
      <mat-card appearance="raised">
        <mat-card-content>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Performed as a featured soloist with the Iranshahr Orchestra in the
            Nowruz Concert at Royce Hall, UCLA, and at Herbst Theatre, San
            Francisco (March 2025).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Concert with the Middle Eastern Fusion Ensemble – Tar player and
            singer at Berklee College of Music (Boston, USA, 2024).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Singer of the Nowruz Program “Nobahar” – Performed live on VOA
            Channel (Voice of America) (Washington D.C., USA, 2024).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Rearranged the iconic Iranian piece “Montazerat Boodam” – For
            Al-Qantara Ensemble at Berklee College of Music concert (Boston,
            USA, 2023).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            First Place & Star Performer – Awarded Top Star in the 7th National
            Youth Music Festival of Iran (2013).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            International Recognition – Soloist at the Closing Ceremony of the
            International Fajr Music Festival (Tehran, Vahdat Hall, 2013).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Charitable Contributions Through Music – Donated competition
            winnings to Mahak Charity Organization for children with cancer and
            performed numerous charity concerts across Iran (since 2012).
          </p>
          <p>
            <mat-icon class="icon">grade</mat-icon>
            Cultural Ambassador Award – Honored as Kindness and Culture
            Ambassador of Iran by the Parliament and Hamedan Education
            Organization (Tehran, 2016).
          </p>
          <a href="/awards">
            <button mat-button>Get More...</button>
          </a>
        </mat-card-content>
      </mat-card>
    </div>
    }
  </section>

  <section class="subject">
    <h1>Interviews</h1>
    @if (isHandset$ | async) {
    <div class="subject-details-handset">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Canvas Rebel</mat-card-title>
          <mat-card-subtitle>Meet Tara Pirayandeh</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="https://canvasrebel.com/meet-tara-pirayandeh/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title> Voyage LA </mat-card-title>
          <mat-card-subtitle>
            Voyage La Magazine Interview With Tara Pirayandeh</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-actions>
          <a
            href="https://voyagela.com/interview/conversations-with-tara-pirayandeh/"
          >
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title> Bold Journey </mat-card-title>
          <mat-card-subtitle> Meet Tara Pirayandeh</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="https://boldjourney.com/meet-tara-pirayandeh/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title> ISNA </mat-card-title>
          <mat-card-subtitle>Hengame Mofid Celebration</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="https://www.isna.ir/amp/hamedan-21910/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title> Qudsonline </mat-card-title>
          <mat-card-subtitle>Youth Music Festival</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a
            href="https://www.qudsonline.ir/news/156673/%D8%B5%D8%AD%D8%A8%D8%AA-%D9%87%D8%A7%DB%8C-%D8%AC%D8%A7%D9%84%D8%A8-%D9%BE%D8%AF%D8%B1-%D8%AA%D8%A7%D8%B1%D8%A7-%D8%B3%D8%AA%D8%A7%D8%B1%D9%87-11-%D8%B3%D8%A7%D9%84%D9%87-%D8%AC%D8%B4%D9%86%D9%88%D8%A7%D8%B1%D9%87-%D9%85%D9%88%D8%B3%DB%8C%D9%82%DB%8C-%D8%AC%D9%88%D8%A7%D9%86"
          >
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title> Mehr News Agency </mat-card-title>
          <mat-card-subtitle
            >Tara's brilliance in the face of institutional overlook</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-actions>
          <a href="https://www.mehrnews.com/amp/2150500/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title> Etemad Magazine </mat-card-title>
          <mat-card-subtitle>Tara and the spirit of Tar</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="https://www.magiran.com/article/2689729">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
        <mat-divider></mat-divider>
        <mat-card-header>
          <mat-card-title> Mehr News Agency </mat-card-title>
          <mat-card-subtitle
            >The Seventh Youth Music Festival</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-actions>
          <a href="https://www.mehrnews.com/amp/2137406/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    } @else if(!(isHandset$ | async)){
    <div class="subject-details-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Canvas Rebel</mat-card-title>
          <mat-card-subtitle>Meet Tara Pirayandeh</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="https://canvasrebel.com/meet-tara-pirayandeh/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Voyage LA</mat-card-title>
          <mat-card-subtitle>
            Voyage La Magazine Interview With Tara Pirayandeh
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a
            href="https://voyagela.com/interview/conversations-with-tara-pirayandeh/"
          >
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title> Bold Journey </mat-card-title>
          <mat-card-subtitle> Meet Tara Pirayandeh</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="https://boldjourney.com/meet-tara-pirayandeh/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title> ISNA </mat-card-title>
          <mat-card-subtitle>Hengame Mofid Celebration</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="https://www.isna.ir/amp/hamedan-21910/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title> Qudsonline </mat-card-title>
          <mat-card-subtitle>Youth Music Festival</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a
            href="https://www.qudsonline.ir/news/156673/%D8%B5%D8%AD%D8%A8%D8%AA-%D9%87%D8%A7%DB%8C-%D8%AC%D8%A7%D9%84%D8%A8-%D9%BE%D8%AF%D8%B1-%D8%AA%D8%A7%D8%B1%D8%A7-%D8%B3%D8%AA%D8%A7%D8%B1%D9%87-11-%D8%B3%D8%A7%D9%84%D9%87-%D8%AC%D8%B4%D9%86%D9%88%D8%A7%D8%B1%D9%87-%D9%85%D9%88%D8%B3%DB%8C%D9%82%DB%8C-%D8%AC%D9%88%D8%A7%D9%86"
          >
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title> Mehr News Agency </mat-card-title>
          <mat-card-subtitle
            >Tara's brilliance in the face of institutional overlook</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-actions>
          <a href="https://www.mehrnews.com/amp/2150500/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title> Mehr News Agency </mat-card-title>
          <mat-card-subtitle
            >The Seventh Youth Music Festival</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-actions>
          <a href="https://www.mehrnews.com/amp/2137406/">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title> Etemad Magazine </mat-card-title>
          <mat-card-subtitle>Tara and the spirit of Tar</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="https://www.magiran.com/article/2689729">
            <button mat-button>Read More</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
    }
  </section>

  <section class="subject">
    <h1>Gallery</h1>
    <div class="subject-details">
      <app-gallery />
    </div>
  </section>

  <section class="subject">
    <h1>Videos</h1>
    <div class="subject-details">
      <app-videos />
    </div>
  </section>
</div>
