<mat-card class="container">
  <div class="video-player">
    <mat-tab-group>
      <mat-tab label="Spring">
        <ng-template matTabContent>
          <video
            width="100%"
            controls
            poster="./../../../assets/images/Spring-Poster.jpg"
            controlsList="nodownload"
          >
            <source
              src="./../../../assets/vidoes/TaraPirayandeh-Spring.mp4"
              type="video/mp4"
            />
          </video>
          <mat-card-title
            style="text-align: center; margin-bottom: 0.5rem; margin-top: 1rem"
            >Spring</mat-card-title
          >
          <div class="description">
            <mat-card-subtitle class="sub">
              A poetic animated short film produced by Blender Studio.
            </mat-card-subtitle>
            <mat-card-subtitle class="sub">
              The film follows a young shepherdess and her dog as they face
              ancient spirits to bring renewal to their valley, symbolizing the
              eternal cycle of life, death, and rebirth.
            </mat-card-subtitle>
            <mat-card-subtitle class="sub">
              The score intertwines lush orchestral colors with ethereal choral
              textures, evoking both the grandeur of nature and the emotional
              depth of the protagonist's journey, Through its dynamic interplay
              of melody and atmosphere.
            </mat-card-subtitle>
            <mat-card-subtitle class="sub">
              Score and orchestration by Tara Pirayandeh.
            </mat-card-subtitle>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Sprite Fright">
        <ng-template matTabContent>
          <video
            width="100%"
            controls
            poster="./../../../assets/images/Sprite-Fright-Poster.jpg"
            controlsList="nodownload"
          >
            <source
              src="./../../../assets/vidoes/TaraPirayandeh-SpriteFright.mp4"
              type="video/mp4"
            />
          </video>
          <mat-card-title
            style="text-align: center; margin-bottom: 0.5rem; margin-top: 1rem"
            >Sprite Fright</mat-card-title
          >
          <div class="description">
            <mat-card-subtitle class="sub">
              An animated short film produced by Blender Studio.
            </mat-card-subtitle>
            <mat-card-subtitle class="sub">
              The film offers a playful reinterpretation of classic horror
              motifs, centering on a group of teenagers who encounter
              mischievous forest sprites with unexpectedly dark intentions. The
              score combines orchestral and atmospheric elements to accentuate
              the film's blend of humor, tension, and fantasy.
            </mat-card-subtitle>
            <mat-card-subtitle class="sub">
              Composition and orchestration by Tara Pirayandeh.
            </mat-card-subtitle>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
