<mat-card class="container">
  <div class="video-player">
    <mat-tab-group>
      <mat-tab label="Spring">
        <ng-template matTabContent>
          <video width="100%" controls controlsList="nodownload">
            <source
              src="./../../../assets/vidoes/TaraPirayandeh-Spring.mp4"
              type="video/mp4"
            />
          </video>
          <mat-card-title
            style="
              text-align: center;
              margin-bottom: 0.5rem;
              margin-top: 1rem;
            "
            >Spring</mat-card-title
          >
          <div class="description">
            <mat-card-subtitle class="sub">
              <mat-icon class="icon">edit</mat-icon>
              I composed and Orchestrated an orginal three-minute score for a
              animated short "Spring".
            </mat-card-subtitle>
            <mat-card-subtitle class="sub">
              <mat-icon class="icon">edit</mat-icon>
              It was an inspiring project to work on , and I truly enjoyed
              shaping the atmosphere and the emotion of this film through music.
            </mat-card-subtitle>
            <mat-card-subtitle>
              ● Headphones recommended for better sound experience &nbsp;
              <mat-icon style="position: absolute"> headphones </mat-icon>
            </mat-card-subtitle>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Sprite Fright">
        <ng-template matTabContent>
          <video width="100%" controls controlsList="nodownload">
            <source
              src="./../../../assets/vidoes/TaraPirayandeh-SpriteFright.mp4"
              type="video/mp4"
            />
          </video>
          <mat-card-title
            style="
              text-align: center;
              margin-bottom: 0.5rem;
              margin-top: 1rem;
            "
            >Sprite Fright</mat-card-title
          >
          <div class="description">
            <mat-card-subtitle class="sub">
              <mat-icon class="icon">edit</mat-icon>
              I composed and Orchestrated an orginal three-minute score for a
              animated short "Sprite Fright".
            </mat-card-subtitle>
            <mat-card-subtitle class="sub">
              <mat-icon class="icon">edit</mat-icon>
              It was an inspiring project to work on , and I truly enjoyed
              shaping the atmosphere and the emotion of this film through music.
            </mat-card-subtitle>
            <mat-card-subtitle>
              ● Headphones recommended for better sound experience. &nbsp;
              <mat-icon style="position: absolute"> headphones </mat-icon>
            </mat-card-subtitle>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>
